{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="login-form" method="post">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" class="btn btn-primary btn-block mt-4">Войти</button>
            </form>
            <button class="btn btn-outline-primary btn-block mt-3">
                <a href="{% url 'auth:register' %}" class="text-decoration-none text-primary">Зарегистрироваться</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}
