{% extends 'layout/base.html' %}
{% load static %}

{% block title %}&mdash;Корзина{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container mt-4"> {# Добавлены отступы сверху и снизу #}
      <div class="row">
        <table class="table" style="margin-top: 60px;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Продукт</th>
              <th scope="col">Количество</th>
            </tr>
          </thead>
          <tbody>
            {% for item in basket %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th>{{ item.product }}</th>
                <th>{{ item.quantity }}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <p>Войдите, чтобы увидеть содержимое корзины.</p>
          <!-- Возможно, добавить ссылку на страницу входа -->
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
