{% extends 'layout/base.html' %}
{% load static %}
{% block title %}&mdash;{{ title|capfirst }}{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>{{ selected_product.name }}</h2>
                    <div class="line-dec"></div>
                    <p>{{ selected_product.description }}</p>
                    <div class="main-button">
                        <a href="{% url 'products:product' selected_product.pk %}">Order Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->


    <!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Featured Items</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    {% for prod in prods %}
                        <a href="{% url 'products:product' prod.pk %}">
                        <div class="featured-item">
                              {% if prod.image %}
                                 <div class="featured-item">
                                    <img src="/media/{{ prod.image }}" alt="{{prod.name}}">
                                    <h4>{{prod.name}}</h4>
                                    <h6>{{prod.price}}</h6>
                                 </div>
                            {% else %}
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/default.png' %}" alt="{{prod.name}}">
                                        <h4>{{prod.name}}</h4>
                                        <h6>{{prod.price}}</h6>
                                </div>
                            {%endif%}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featred Ends Here -->




{% endblock %}
